
.desktop-view {
    display: flex;
    justify-content: space-between;
  }
  

  .mobile-view {
    display: none;
  }
  

  @media (max-width: 768px) {
    .desktop-view {
      display: none;
    }
  
    .mobile-view {
      display: block;
    }
  }
  