/* userList.css */

.user-list-container {
  padding: 20px;
}

.list-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.user-list {
  list-style-type: none;
  padding: 0;
}

.user-item {
  margin-bottom: 20px;
}

.user-link {
  text-decoration: none;
  color: black;
}

.user-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.user-details {
  display: block;
  align-items: center;
}

.last-name, .first-name, .username {
  margin: 0;
}

.last-name, .first-name {
  padding:10px ;
  margin: 8px;
}

.username {
  color: #666;
}
